{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Basket</title>
{% endblock title %}

{% block content %}
<div class="container store top">
    <span class="loud top centered">Basket</span>
    <div class="container delivery-container">
        {% include 'messages.html' %}
    </div>
    <div class="container basket-container">
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            {% if basket %}
            <tbody>
                {% for item in basket %}
                <tr>
                    <td>{{item.product.id}}</td>
                    <td>£{{item.product.cost}}</td>
                    <td>x{{item.qty}}</td>
                    <td>£{{item.cost}}</td>
                    <td><a href="{% url 'del' item.id %}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total:</th>
                    <th class="tfoot-item">N/A</th>
                    <th class="tfoot-item">x{{count}}</th>
                    <th class="">£{{total_cost}}</th>
                    <th><a href="{% url 'clear' %}">CLEAR</a></th>
                </tr>
            </tfoot>
        </table>
        <div class="row button-row right">
            <button class="signup-button top right" onclick='location.href="{% url 'checkout'%}"'>Checkout</button>
        </div>
    </div>
    
        {% else %}
    </table>
    <div class="container error-container centered top">
        <span class="">Basket is empty.</span>
    </div>
    </div>
    <div class="col centered">
        <button class="signup-button top" onclick='location.href="{% url 'browse'%}"'>Browse</button>

    {% endif %}
</div>

{% endblock content %}
