{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Checkout</title>
{% endblock title %}

{% block content %}
<span class="loud top centered">Checkout</span>

<div class="container store top">
    
    <div class="container basket-container">
        {% if basket %}
        <span class="semi-loud">Summary</span>
        <table class="top">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket %}
                <tr>
                    <td>{{item.product.id}}</td>
                    <td>£{{item.product.cost}}</td>
                    <td>x{{item.qty}}</td>
                    <td>£{{item.cost}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total:</th>
                    <th class="tfoot-item">N/A</th>
                    <th class="tfoot-item">x{{count}}</th>
                    <th class="">£{{total_cost}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <div class="container basket-container top">
        <span class="semi-loud">Delivery</span>
        <div class="container delivery-container">
            <div class="row top">
                <span>First Name:</span>
            </div>
            <div class="row">
                <span>Last Name:</span>
            </div>
            <div class="row">
                <span>...</span>
            </div>
            <div class="row">
                <span>...</span>
            </div>
        </div>
        
    </div>
    <div class="container basket-container centered top">
        <span class="semi-loud">Payment</span>
        <span class="top">It's all free, lucky you!</span>
    </div>

    <div class="container basket-container top">
        <span class="semi-loud">Confirmation</span>
        <div class="container">
            <div class="row top">
                <div class="col centered">
                    <button class="login-button-red top" onclick='location.href="{% url 'basket'%}"'>Back to Basket</button>
                </div>
                <div class="col centered">
                    <button class="login-button top" onclick='location.href="{% url 'checkout'%}"'>Confirm Order</button>
                </div>
            </div>
            
        </div>
    </div>

        {% else %}
    </table>
    <div class="container error-container centered top">
        <span class="">Cannot checkout with empty basket.</span>
    </div>
    <div class="col centered">
        <button class="signup-button top" onclick='location.href="{% url 'browse'%}"'>Browse</button>
    </div>
    {% endif %}
</div>

{% endblock content %}
