{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Checkout</title>
{% endblock title %}

{% block content %}
<span class="loud top centered">Checkout</span>

<div class="container store top">
    
    <div class="container basket-container">
        {% if basket %}
        <span class="semi-loud">Summary</span>
        <table class="top">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket %}
                <tr>
                    <td>{{item.product.id}}</td>
                    <td>£{{item.product.cost}}</td>
                    <td>x{{item.qty}}</td>
                    <td>£{{item.cost}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total:</th>
                    <th class="tfoot-item">N/A</th>
                    <th class="tfoot-item">x{{count}}</th>
                    <th class="">£{{total_cost}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <div class="container basket-container top">
        <span class="semi-loud">Delivery</span>
        <div class="container delivery-container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="field">
                            <span>First name</span>
                            <input type="text" name="fname" required>
                        </div>
                        <div class="field">
                            <span>Last name</span>
                            <input type="text" name="lname" required>
                        </div>
                        <div class="field">
                            <span>Phone number</span>
                            <input type="text" name="phone_number">
                        </div>
                        <span>Address</span>
                        <div class="field">
                            <span>Postcode</span>
                            <input type="text" name="postcode" required>
                        </div>
                        <div class="field">
                            <span>Line 1</span>
                            <input type="text" name="line1" required>
                        </div>
                        <div class="field">
                            <span>Line 2</span>
                            <input type="text" name="line2">
                        </div>
                        <div class="field">
                            <span>Line 3</span>
                            <input type="text" name="line3">
                        </div>
                        <div class="field">
                            <span>Country</span>
                            <input type="text" name="country" required>
                        </div>
                        <div class="field">
                            <span>Additional instructions</span>
                            <input type="text" name="delivery_instructions">
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container basket-container centered top">
        <span class="semi-loud">Payment</span>
        <span class="top">It's all free, lucky you!</span>
    </div>

    <div class="container basket-container top">
        <span class="semi-loud">Confirmation</span>
        <div class="container">
            <div class="row top">
                <div class="col centered">
                    <button class="login-button-red top" onclick='location.href="{% url 'basket'%}"'>Back to Basket</button>
                </div>
                <div class="col centered">
                    <button class="login-button top" type="submit">Confirm Order</button>
                </div>
            </div>
        </form>
        </div>
    </div>

        {% else %}
    </table>
    <div class="container error-container centered top">
        <span class="">Cannot checkout with empty basket.</span>
    </div>
    <div class="col centered">
        <button class="signup-button top" onclick='location.href="{% url 'browse'%}"'>Browse</button>
    </div>
    {% endif %}
</div>

{% endblock content %}
