{% extends 'base.html' %}


{% block title %}
{% if product %}
    <title>{{ product.name }}</title>
    {% else %}
    <title>Missing Product</title>
{% endif %}
{% endblock title %}

{% block content %}
<div class="container">
{% if product %}
    <div class="container delivery-container">
        {% include 'messages.html' %}
    </div>
    <div class="container product-view-container">
        <div class="row">
            <span class="loud">{{product.name}}</span>
    </div>
    <div class="row">
        <span class="semi-loud">£{{product.cost}} per unit</span>
    </div>
    <div class="row">
        <form method="post" action="{% url 'add' product.id %}">
            {% csrf_token %}
            <input class="basket-add" type="number" name="quantity" value="1" min="1" max="10">
            <button class="add-to-basket-button" type="submit">Add to basket</button>
        </form>
    </div>
    <div class="row quiet">
        <span>Our code: </span>
    </div>
    <div class="row quiet">
        <span>Manufacturers code: </span>
    </div>
    <div class="row">
        <span class="">Description: {{product.description}}</span>
     </div>
    </div>
    
{% else %}
    <div class="top container error-container centered">
        <span>Could not find product.</span>
    </div>
{% endif %}
</div>
{% endblock content %}