{% extends 'base.html' %}

{% block title %}
<title>Search Results</title>
{% endblock %}

{% block content %}
<div class="container">
        <div class="row top">
            <div class="col centered">
                <span>Search query: "{{ query }}"</span>
            </div>
            <div class="col centered">
                <span>
                    Sort By:
                    <select id="sort-by-select" onchange="handleSortChange()">
                        <option value="a-z" {% if sort_by == 'a-z' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="z-a" {% if sort_by == 'z-a' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="priceLTH" {% if sort_by == 'priceLTH' %}selected{% endif %}>Price (Asc.)</option>
                        <option value="priceHTL" {% if sort_by == 'priceHTL' %}selected{% endif %}>Price (Desc.)</option>
                        <!-- Add other sorting options here -->
                    </select>
                </span>
            </div>
        </div>
        {% if products %}
        <div class="container success-container centered">
            <span>Results found</span>
        </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-md-4">
                        <div class="product-container" data-product-id="{{ product.id}}">
                                <span class="name long">{{ product.name }}</span>
                                <span class="price">£{{ product.cost }}</span>
                                <span class="description long">{{ product.description }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="container error-container centered">
            <span>No results found</span>
        </div>
        {% endif %}
</div>
{% endblock %}