body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

span .loud, .loud {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: block;
}

span .semi-loud, .semi-loud {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    display: block;
}

span .quiet, .quiet {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    display: block;
}

.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top {
    margin-top: 10px;
    margin-bottom: 5px;
}

.container {
    max-width: 100%;
    padding: 0px;
}

.body-container {
    padding: 0px;
    width: 100%;
}

/*
.store-container {
    justify-content: center;
    text-align: center;
    border: #333;
    background-color: rgb(222, 222, 222);
}

.store {
    text-align: center;
    justify-content: center;
}*/

.error-container {
    background-color: #ff9f9f;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 5px;
}

.success-container {
    background-color: #7ac37e;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 5px;
}

.product-container {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.product-container:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.product-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-container h2 {
    font-size: 18px;
    color: #888;
}

.order-container {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.order-container:hover {
    background-color: #e6e6e6;
}

.order-container span {
    margin-left: 10px;
}

.product-view-container {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.product-view-container span {
    margin-left: 10px;
}

.account-container {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.account-container span {
    margin-left: 10px;
}

.basket-container {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.delivery-container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    width: 100%;
    background-color: #e6e6e6;
    margin: 0;
}

.row .navbar-col {
    padding-left: 0px;
    padding-right: 10px;
}


.product-name {
    font-size: 24px;
    font-weight: bold;
}

.product-description {
    background-color: #eeeeee;
    font-size: 16px;
}

form {
    padding-left: 10px;
}
.basket-add {
    width: 45px;
}

.long {
    display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.login-container{
justify-content: center;
display: grid;
text-align: center;
}

.row {
    margin-bottom: 10px;
}

.login {
    padding: 10px;
    background-color: #fff;
    text-align: left; /* Align the form to the left */
}

.login-button {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.login-button-red {
margin-top: 10px;
background-color: #ff9f9f;
color: #fff;
padding: 10px 30px;
border: none;
cursor: pointer;
border-radius: 4px;
}

.button-row {
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.signup-text {
    font-size: 14px;
    text-align: center; /* Center the "Don't have an account?" text */

}

.signup-button {
    justify-content: center;
    text-align: center;
    background-color: #008CBA;
    color: #fff;
    font-size: 14px;
    padding: 7.5px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.add-to-basket-button {
    margin-left: 10px;
    justify-content: center;
    text-align: center;
    background-color: #008CBA;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form {
    width: 200px;
    position: static;
    text-align: left;
    justify-content: left;
  }
  
  .field {
    margin-bottom: 7.5px;
  }
  .field input {
    padding: 0;
    height: 25px;
    width: 200px;
    text-align: left;
    margin-bottom: 5px;
  }

.centered {
    justify-content: center;
    text-align: center;
}
.dropdown-menu-right {
    right: auto;
    left: 0;
}

.dropdown-menu {
    max-width: 200px;
}

.address-line {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-indent: 5px;
    font-weight: lighter;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    text-align: left;
    background-color: #f2f2f2;
}

tfoot th {
    background-color: #e0e0e0;
}

tfoot th.tfoot-item {
    font-weight:normal;
}

.right {
    justify-content: right;
    padding-right: 15px;
}