{% load static %}
<div class="container d-flex justify-content-between navbar">
    <div class="logo align-self-center">
        <a class="" href="/store">EpicLogo</a>
    </div>
    <div class="row align-self-center navbar-row">
        <div class="col navbar-col ">
            <form class="search-form form-inline" action="/store/search/" method="GET">
                <div class="input-group">
                    <input class="form-control form-control-sm" type="text" name="query" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col navbar-col ">
            <a href="/store/account/login">
                <img src="{% static 'media/avatar.png' %}" width="32" height="32">
            </a>
        </div>
    </div>
</div>